In [1]:
import pandas as pd

In [2]:
items = pd.read_csv('./data/EB-build-goods.sql', header=None, skiprows=0)
items.head()

                             0             1       2      3         4
0  insert into goods values (0   'Chocolate'  'Cake'   8.95  'Food');
1  insert into goods values (1       'Lemon'  'Cake'   8.95  'Food');
2  insert into goods values (2      'Casino'  'Cake'  15.95  'Food');
3  insert into goods values (3       'Opera'  'Cake'  15.95  'Food');
4  insert into goods values (4  'Strawberry'  'Cake'  11.95  'Food');

In [3]:
items.columns = ['items','desc1','desc2','price','category']
items.head()

                         items         desc1   desc2  price  category
0  insert into goods values (0   'Chocolate'  'Cake'   8.95  'Food');
1  insert into goods values (1       'Lemon'  'Cake'   8.95  'Food');
2  insert into goods values (2      'Casino'  'Cake'  15.95  'Food');
3  insert into goods values (3       'Opera'  'Cake'  15.95  'Food');
4  insert into goods values (4  'Strawberry'  'Cake'  11.95  'Food');

In [4]:
items['items'] = items['items'].apply(lambda x: x.split("(")[1])
items.head()

  items         desc1   desc2  price  category
0     0   'Chocolate'  'Cake'   8.95  'Food');
1     1       'Lemon'  'Cake'   8.95  'Food');
2     2      'Casino'  'Cake'  15.95  'Food');
3     3       'Opera'  'Cake'  15.95  'Food');
4     4  'Strawberry'  'Cake'  11.95  'Food');

In [5]:
transactions = pd.read_csv("./data/75000-out1.csv", header=None, sep='\n')
transactions.columns=['tid']
transactions.head()

                tid
0         1, 11, 21
1  2, 7, 11, 37, 45
2      3, 3, 33, 42
3  4, 5, 12, 17, 47
4      5, 6, 18, 42

In [6]:
totalitems = items.count()
totaltransactions=transactions.count()

In [7]:
totaltransactions

tid    75000
dtype: int64

In [8]:
totalitems

items       50
desc1       50
desc2       50
price       50
category    50
dtype: int64

In [9]:
def support(itemset):
    totaltransactions = transactions.count()
    
    support = 0
    for t in transactions ['tid']:
        t = list(t.split(', ')[1:])
        flag = True;
        
        for i in itemset:
            if i not in t:
                flag = False;
                break;
        if (flag):
            support +=1 
    return float(support/totaltransactions)

In [10]:
print(support([str(10)]))

0.04204

In [11]:
minsupport = 0.01
minconfidence = 0.5
items['items']

itemset = []
for i in items['items']:
    if support([str(i)]) >= minsupport:
        itemset.append(i)

print(itemset)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49']

In [12]:
def generaterules(itemset):
    minconfidence = 0.5
    rules =[]
    
    for i in itemset:
        A = i
        B = [i for i in itemset if i!=A]
        confidence = support(B)/support(A)
        
        if confidence > minconfidence:
            rules.append([A,B])
    
    print(rules)
    return rules

In [13]:
generaterules (['3','2'])

[['3', ['2']], ['2', ['3']]]

[['3', ['2']], ['2', ['3']]]

In [14]:
import itertools

In [17]:
def apriori(i,LItems):
    newLItems = []
    ruleset =[]
    
    for Citemset in itertools.combinations(LItems, i):
        Citemset = list(Citemset)
        
        if support(Citemset)>minsupport:
            newLItems.append(Citemset)
            ruleSset = ruleset.append(generaterules(Citemset))
            
    return ruleset, newLItems

In [18]:
rules, items = apriori(2,itemset)

[['0', ['2']], ['2', ['0']]]
[['0', ['46']], ['46', ['0']]]
[['1', ['19']], ['19', ['1']]]
[['2', ['46']], ['46', ['2']]]
[['3', ['18']], ['18', ['3']]]
[['3', ['35']], ['35', ['3']]]
[['4', ['9']], ['9', ['4']]]
[['5', ['22']], ['22', ['5']]]
[['7', ['11']], ['11', ['7']]]
[['7', ['15']], ['15', ['7']]]
[['7', ['37']], ['37', ['7']]]
[['7', ['45']], ['45', ['7']]]
[['7', ['49']], ['49', ['7']]]
[['11', ['37']], ['37', ['11']]]
[['11', ['45']], ['45', ['11']]]
[['12', ['31']], ['31', ['12']]]
[['12', ['36']], ['36', ['12']]]
[['12', ['48']], ['48', ['12']]]
[['14', ['44']], ['44', ['14']]]
[['15', ['49']], ['49', ['15']]]
[['16', ['32']], ['32', ['16']]]
[['16', ['45']], ['45', ['16']]]
[['17', ['29']], ['29', ['17']]]
[['17', ['47']], ['47', ['17']]]
[['18', ['35']], ['35', ['18']]]
[['23', ['24']], ['24', ['23']]]
[['23', ['40']], ['40', ['23']]]
[['23', ['41']], ['41', ['23']]]
[['23', ['43']], ['43', ['23']]]
[['24', ['40']], ['40', ['24']]]
[['24', ['41']], ['41', ['24']]]
[['24', ['43']], ['43', ['24']]]
[['27', ['28']], ['28', ['27']]]
[['29', ['47']], ['47', ['29']]]
[['31', ['36']], ['36', ['31']]]
[['31', ['48']], ['48', ['31']]]
[['32', ['45']], ['45', ['32']]]
[['33', ['42']], ['42', ['33']]]
[['36', ['48']], ['48', ['36']]]
[['37', ['45']], ['45', ['37']]]
[['40', ['41']], ['41', ['40']]]
[['40', ['43']], ['43', ['40']]]
[['41', ['43']], ['43', ['41']]]

In [20]:
print(rules)

[[['0', ['2']], ['2', ['0']]], [['0', ['46']], ['46', ['0']]], [['1', ['19']], ['19', ['1']]], [['2', ['46']], ['46', ['2']]], [['3', ['18']], ['18', ['3']]], [['3', ['35']], ['35', ['3']]], [['4', ['9']], ['9', ['4']]], [['5', ['22']], ['22', ['5']]], [['7', ['11']], ['11', ['7']]], [['7', ['15']], ['15', ['7']]], [['7', ['37']], ['37', ['7']]], [['7', ['45']], ['45', ['7']]], [['7', ['49']], ['49', ['7']]], [['11', ['37']], ['37', ['11']]], [['11', ['45']], ['45', ['11']]], [['12', ['31']], ['31', ['12']]], [['12', ['36']], ['36', ['12']]], [['12', ['48']], ['48', ['12']]], [['14', ['44']], ['44', ['14']]], [['15', ['49']], ['49', ['15']]], [['16', ['32']], ['32', ['16']]], [['16', ['45']], ['45', ['16']]], [['17', ['29']], ['29', ['17']]], [['17', ['47']], ['47', ['17']]], [['18', ['35']], ['35', ['18']]], [['23', ['24']], ['24', ['23']]], [['23', ['40']], ['40', ['23']]], [['23', ['41']], ['41', ['23']]], [['23', ['43']], ['43', ['23']]], [['24', ['40']], ['40', ['24']]], [['24', ['41']], ['41', ['24']]], [['24', ['43']], ['43', ['24']]], [['27', ['28']], ['28', ['27']]], [['29', ['47']], ['47', ['29']]], [['31', ['36']], ['36', ['31']]], [['31', ['48']], ['48', ['31']]], [['32', ['45']], ['45', ['32']]], [['33', ['42']], ['42', ['33']]], [['36', ['48']], ['48', ['36']]], [['37', ['45']], ['45', ['37']]], [['40', ['41']], ['41', ['40']]], [['40', ['43']], ['43', ['40']]], [['41', ['43']], ['43', ['41']]]]

In [23]:
print(items)

[['0', '2'], ['0', '46'], ['1', '19'], ['2', '46'], ['3', '18'], ['3', '35'], ['4', '9'], ['5', '22'], ['7', '11'], ['7', '15'], ['7', '37'], ['7', '45'], ['7', '49'], ['11', '37'], ['11', '45'], ['12', '31'], ['12', '36'], ['12', '48'], ['14', '44'], ['15', '49'], ['16', '32'], ['16', '45'], ['17', '29'], ['17', '47'], ['18', '35'], ['23', '24'], ['23', '40'], ['23', '41'], ['23', '43'], ['24', '40'], ['24', '41'], ['24', '43'], ['27', '28'], ['29', '47'], ['31', '36'], ['31', '48'], ['32', '45'], ['33', '42'], ['36', '48'], ['37', '45'], ['40', '41'], ['40', '43'], ['41', '43']]